.feature {
    align-items: baseline;
    gap: 8rem;

    @include media('>=laptop') {
        column-gap: 10rem;
    }

    &__item {
        padding-bottom: 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        border-bottom: 1px solid transparent;
        transition: border-bottom .5s;
        
        &:hover {
            border-bottom: 1px solid white;
        }
    }

    &__img {
        width: 8rem;
        margin-bottom: 3rem;

        &.shield {
            width: 7rem;
        }
    }

    &__title {
        font-size: $title2FontSize;
        margin-bottom: 1.5rem;
    }

    &__desc {
        font-size: $smallFontSize;
        
    }
}