.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
  }
  
  @for $i from 1 through 12 {
    .grid-#{$i} {
      grid-column: span ($i);
    }
}

@include media('>mobile') {
    @for $i from 1 through 12 {
      .grid-mb-#{$i} {
        grid-column: span ($i);
      }
    }
}
  
@include media('>tablet') {
@for $i from 1 through 12 {
    .grid-tb-#{$i} {
    grid-column: span ($i);
    }
}
}

@include media('>laptop') {
@for $i from 1 through 12 {
    .grid-lp-#{$i} {
    grid-column: span ($i);
    }
}
}

@include media('>desktop') {
@for $i from 1 through 12 {
    .grid-dt-#{$i} {
    grid-column: span ($i);
    }
}
}