.b {
    // Container
    &-box {
        max-width: 111rem;
        margin: 0 auto;
    
        &--pall {
            padding-top: 7rem;
            padding-bottom: 7rem;
            padding-left: 2.4rem;
            padding-right: 2.4rem;
    
            @include breakpoint-up(large) {
                padding-top: 9.6rem;
                padding-bottom: 9.6rem;
            }
        }
    
        &--py {
            padding-top: 7rem;
            padding-bottom: 7rem;
    
            @include breakpoint-up(large) {
                padding-top: 9.6rem;
                padding-bottom: 9.6rem;
            }
        }
        &--px {
            padding-left: 2.4rem;
            padding-right: 2.4rem;
        }
    
        &--pt {
            padding-top: 7rem;
            
            @include breakpoint-up(large) {
                padding-top: 9.6rem;
                
            }
        }
        &--pb {
            padding-bottom: 7rem;
    
            @include breakpoint-up(large) {
                padding-bottom: 9.6rem;
                
            }
        }
        &--pl {padding-left: 2.4rem;}
        &--pr {padding-right: 2.4rem;}
    
    }

    // Text
    &-tx {
        // Logo text
        &-logo {
            // font-family: $font-logo;
            // color: $white;
        }

        &-body {
            // font-family: $font-secondary;
            // color: $black;

            &--light {
                font-weight: 300;
            }
            &--med {
                font-weight: 500;
            }
            &--bold {
                font-weight: 700;
            }
        
            &--white {
                // color: $white;
            }
        }
    }
    &-hd {
        &1 {
            // font-family: $font-title;
            // color: $black;
            font-size: 4vw;
            font-weight: bold;

            &--white {
                // color: $white;

            }
        }

        &2 {
            // font-family: $font-primary;
            // color: $black;

            &--light {
                font-weight: 300;
            }
            &--med {
                font-weight: 400;
            }
            &--bold {
                font-weight: 600;
            }

            &--white {
                // color: $white;
            }
        }
    }

    
}


.dark-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .7);    
}
