.b {
    // Container
    &-box {
        max-width: 120rem;
        margin: 0 auto;
    
        &--pall {
            padding-top: 10rem;
            padding-bottom: 10rem;
            padding-left: 5.5rem;
            padding-right: 5.5rem;
    
            @include media('>=laptop') {
                padding-top: 9.6rem;
                padding-bottom: 9.6rem;
            }
        }
    
        &--py {
            padding-top: 10rem;
            padding-bottom: 10rem;
    
            @include media('>=laptop') {
                padding-top: 9.6rem;
                padding-bottom: 9.6rem;
            }
        }
        &--px {
            padding-left: 5.5rem;
            padding-right: 5.5rem;
        }
    
        &--pt {
            padding-top: 10rem;
            
            @include media('>=laptop') {
                padding-top: 9.6rem;
                
            }
        }
        &--pb {
            padding-bottom: 10rem;
    
            @include media('>=laptop') {
                padding-bottom: 9.6rem;
                
            }
        }
        &--pl {padding-left: 5.5rem;}
        &--pr {padding-right: 5.5rem;}
    
    }

    // Text
    &-tx {
        // Logo text
        &-logo {
            // font-family: $font-logo;
            // color: $white;
        }

        &-body {
            font-size: $bodyFontSize;
        }
        &-sub {
            font-size: $minFontSize;
        }
    }
    &-hd {
        font-size: $titleFontSize;
        &1 {
            margin-bottom: rfs(6rem);
            
        }

        &2 {
            margin-bottom: rfs(5rem);

        }

        &3 {
            font-size: 1rem;
            margin-bottom: rfs(1rem);
        }
    }

    
}


.dark-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .7);    
}
