.b {
    // Container
    &-box {
        max-width: 120rem;
        margin: 0 auto;
    
        &--pall {
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
            padding-left: 4rem;
            padding-right: 4rem;
    
            @include media('>=120rem') {
                padding-top: 5rem;
                padding-bottom: 5rem;
                padding-left: 0;
                padding-right: 0;
            }
        }
    
        &--py {
            padding-top: 5rem;
            padding-bottom: 5rem;
    
            @include media('>=laptop') {
                padding-top: 5rem;
                padding-bottom: 5rem;
            }
        }
        &--px {
            padding-left: 5rem;
            padding-right: 5rem;
        }
    
        &--pt {
            padding-top: 5rem;
            
            @include media('>=laptop') {
                padding-top: 5rem;
                
            }
        }
        &--pb {
            padding-bottom: 5rem;
    
            @include media('>=laptop') {
                padding-bottom: 5rem;
                
            }
        }
        &--pl {padding-left: 5.5rem;}
        &--pr {padding-right: 5.5rem;}
    
    }

    // Text
    &-tx {
        // Logo text
        &-subtitle {
            font-size: $subtitleFontSize;
        }

        &-body {
            font-size: $bodyFontSize;
        }
        &-sub {
            font-size: $minFontSize;
        }
    }
    &-hd {
        &1 {
            font-size: $titleFontSize;
            margin-top: rfs(2rem);
            margin-bottom: rfs(3rem);
            
        }

        &2 {
            font-size: $title2FontSize;
            margin-bottom: rfs(5rem);

        }

        &3 {
            font-size: 1rem;
            margin-bottom: rfs(1rem);
        }
    }

    
}


.dark-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .7);    
}
