html {
    box-sizing: border-box;
    font-size: 62.5%;
    // background-color: $dark;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: $bodyFontSize;
    color: $light;
    font-family: $bodyFont;
    font-weight: $lightW;
    color: $light;
    overflow-x: hidden;

    &.no-scroll {
        overflow: hidden;
    }

    @include media('>=laptop') {

    }
}
h1, h2, h3, h4 {
    font-family: $titleFont;
    font-weight: $boldW;
    line-height: 1.9;

}
p {
    font-family: $bodyFont;
    font-weight: $lightW;
    line-height: 1.5;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    font-weight: $lightW;
    text-decoration: none;
    color: $light;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover{color: $cyanAccent;}
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
