:root {
    // Colors
    --blue-dark-intro: hsl(217, 28%, 15%);
    --blue-dark-main: hsl(218, 28%, 13%);
    --blue-dark-footer: hsl(216, 53%, 9%);
    --blue-dark-testimonial: hsl(219, 30%, 18%);

    --cyan-accent: hsl(176, 68%, 64%);
    --blue-accent: hsl(198, 60%, 50%);
    --light: hsla(0, 0%, 100%, 0.8);

    // Fonts
    --title-font: 'Raleway', sans-serif;
    --body-font: 'Open Sans', sans-serif;

    --title-font-size: 2.7rem;
    --title2-font-size: 2.4rem;
    --subtitle-font-size: 1.8rem;
    --body-font-size: 1.7rem;
    --small-font-size: 1.5rem;
    --min-font-size: 1.3rem;

    @include media('>=540px') {
        --title-font-size: 2.9rem;
    }

    @include media('>=desktop') {
        --title-font-size: 4rem;
        --subtitle-font-size: 2rem;
        --body-font-size: 1.9rem;
        --small-font-size: 1.6rem;
        --min-font-size: 1.4rem;
    }




    --light-w: 400;
    --bold-w: 700;

    // General Size
    --max-width: 120rem;

    --logo-widht:  14rem;
    --logo-height:  5rem;

    @include media('>=laptop') {
        --logo-widht:  18rem;
        --logo-height:  5.5rem;
    }
}

// Sass
$blueDarkIntro: var(--blue-dark-intro);
$blueDarkMain: var(--blue-dark-main);
$blueDarkFooter: var(--blue-dark-footer);
$blueDarkTestimonial: var(--blue-dark-testimonial);
$cyanAccent: var(--cyan-accent);
$blueAccent: var(--blue-accent);
$light: var(--light);

$titleFont: var(--title-font);
$bodyFont: var(--body-font);

$titleFontSize: var(--title-font-size);
$title2FontSize: var(--title2-font-size);
$subtitleFontSize: var(--subtitle-font-size);
$bodyFontSize: var(--body-font-size);
$smallFontSize: var(--small-font-size);
$minFontSize: var(--min-font-size);

$lightW: var(--light-w);
$boldW: var(--bold-w);

$maxWidth: var(--max-width);
$logoWidht: var(--logo-widht);
$logoHeight: var(--logo-height);

$zLast: -9999;
$z1: 1;
$z2: 2;
$z3: 3;
$z4: 4;

// Breakpoints
$breakpoints: (
    'mobile': 320px,
    'tablet': 768px,
    'laptop': 1024px,
    'desktop': 1400px
);